[submodule "public/lib/vgrid"]
	path = public/lib/vgrid
	url = https://github.com/juliankern/vgrid
[submodule "pluginregistry"]
	path = pluginregistry
	url = https://github.com/juliankern/smartnode-registry.git
