.form {
    &--field {
        padding: .5rem 0;

        label {
            display: block;

            &::after {
                content: ":";
            }
        }

        input + label {
            display: inline-block;

            &::after {
                content: none
            }
        }

        &--sub {
            @extend .form--field;
            
            padding-left: 2rem;
        }
    }

    &--image {
        max-width: 100%;
    }
    
    &--element {
        width: 100%;
        
        @include global-focus;
    }
    
    &--switch {
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 1rem;
        margin-top: .125rem;
        margin-bottom: -.125rem;

        input {display:none;}
    }
    
    &--slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &.round {
            border-radius: 1rem;

            &::before {
                border-radius: 50%;
            }
        }

        &::before {
            position: absolute;
            content: "";
            height: .75rem;
            width: .75rem;
            left: .125rem;
            bottom: .125rem;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;

            input:checked + & {
                -webkit-transform: translateX(1rem);
                -ms-transform: translateX(1rem);
                transform: translateX(1rem);
            }
        }

        input:checked + & {
            background-color: #2196F3;
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="date"], 
input[type="number"],
select {
    &.form--element {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 5px;
    }
}