$colors: (
    primary: rgba(60, 145, 230, 1),
    dark: rgba(52, 46, 55, 1),
    light: rgba(250, 255, 253, 1),
    accent1: rgba(250, 130, 76, 1),
    accent2: rgba(162, 215, 41, 1)
);

$grays: (
    100: #f8f9fa,
    200: #e9ecef,
    300: #dee2e6,
    400: #ced4da,
    500: #adb5bd,
    600: #868e96,
    700: #495057,
    800: #343a40,
    900: #212529
) !default;

@each $key, $value in $colors {
    .c-#{$key} {
        background: $value;
    }
}
@each $key, $value in $grays {
    .g-#{$key} {
        background: $value;
    }
}

@function color($name) {
    @return map-get($colors, $name);
}
@function gray($value) {
    @return map-get($grays, $value);
}

$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$spacer: 1rem !default;
$border-width: 1px !default;
$border-radius:          .25rem !default;
$small-font-size: 80% !default;
$grid-gutter-width: 1rem !default;

$font-family-base: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif !default;
$font-weight-normal: normal !default;

$font-size-base: 16px !default;

$font-weight-base: normal !default;
$font-weight-bold: bold !default;

$line-height-base: 1.5 !default;

$mark-padding: .2em !default;
$mark-bg: #fcf8e3 !default;

$list-inline-padding: 5px !default;

$blockquote-small-color:  gray(600) !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;

$body-color: color(dark) !default;
$body-bg: color(light) !default;

$link-color: color(primary);
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   'Roboto Slab', 'Arial Narrow', Arial, serif !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight:     300 !default;
$display2-weight:     300 !default;
$display3-weight:     300 !default;
$display4-weight:     300 !default;
$display-line-height: $headings-line-height !default;

$hr-border-color: rgba(color(dark), .1) !default;
$hr-border-width: $border-width !default;

$text-muted: gray(600) !default;

// Cards

$card-spacer-y:            .75rem !default;
$card-spacer-x:            1.25rem !default;
$card-border-width:        $border-width !default;
$card-border-radius:       $border-radius !default;
$card-border-color:        rgba(color(dark), .125) !default;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:              rgba(color(dark), .03) !default;
$card-bg:                  color(light) !default;

$card-img-overlay-padding: 1.25rem !default;

$card-group-margin:         ($grid-gutter-width / 2) !default;
$card-deck-margin:          $card-group-margin !default;

$card-columns-count:        3 !default;
$card-columns-gap:          1.25rem !default;
$card-columns-margin:       $card-spacer-y !default;

$dt-font-weight: $font-weight-bold !default;

$table-cell-padding: .75rem !default;
$table-cell-padding-sm: .3rem !default;

/////////////////////////////

$enable-hover-media-query:  false !default;
