extends ../templates/layout.pug

block content
    style(type='text/css')
        | .box { padding: 1rem; border: 1px solid #ddd; display: block; }
        | .box-small { padding: .5rem 1rem; display: block; }
        | .box-success { padding: 1rem; border: 1px solid green; display: block; background: lightgreen; }

    h3 Colors
    .accordion
        input(id='colorsaccordion', type='checkbox')
        label.accordion--header(for='colorsaccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            .grid--row
                .grid--col-medium-4
                    h5 Example
                    .box-small.c-primary primary
                .grid--col-medium-8
                    h5 Code
                    pre .element { background: color(<strong>primary</strong>) }

                .grid--col-medium-4
                    .box-small.c-dark(style='color: #fff') dark
                .grid--col-medium-8
                    pre .element { background: color(<strong>dark</strong>) }

                .grid--col-medium-4
                    .box-small.c-light light
                .grid--col-medium-8
                    pre .element { background: color(<strong>light</strong>) }

                .grid--col-medium-4
                    .box-small.c-accent1 accent1
                .grid--col-medium-8
                    pre .element { background: color(<strong>accent1</strong>) }

                .grid--col-medium-4
                    .box-small.c-accent2 accent2
                .grid--col-medium-8
                    pre .element { background: color(<strong>accent2</strong>) }

    h3 Grays

    .accordion
        input(id='graysaccordion', type='checkbox')
        label.accordion--header(for='graysaccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            .grid--row
                .grid--col-medium-4
                    h5 Example
                    .box-small.g-100 100
                .grid--col-medium-8
                    h5 Code
                    pre .element { background: gray(<strong>100</strong>) }

            .grid--row
                .grid--col-medium-4
                    .box-small.g-400 400
                .grid--col-medium-8
                    pre .element { background: gray(<strong>400</strong>) }

            .grid--row
                .grid--col-medium-4
                    .box-small.g-900(style='color: #fff') 900
                .grid--col-medium-8
                    pre .element { background: gray(<strong>900</strong>) }

    h3 Grid
    .accordion
        input(id='gridaccordion', type='checkbox')
        label.accordion--header(for='gridaccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            h5 Example
            .grid--row
                .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
                    span.box small-12, medium-6, large-4, xlarge-2
                .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
                    span.box small-12, medium-6, large-4, xlarge-2
                .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
                    span.box small-12, medium-6, large-4, xlarge-2
                .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
                    span.box small-12, medium-6, large-4, xlarge-2
                .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
                    span.box small-12, medium-6, large-4, xlarge-2
                .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
                    span.box small-12, medium-6, large-4, xlarge-2

            h5 Code
            pre
                | &lt;div class="grid--col-small-12 grid--col-medium-6 grid--col-large-4 grid--col-xlarge-2"&gt;
                | &nbsp;&nbsp;&lt;span class="box"&gt;small-12, medium-6, large-4, xlarge-2&lt;/span&gt;
                | &lt;/div&gt;

    h4 Responsive visibility
    .accordion
        input(id='respaccordion', type='checkbox')
        label.accordion--header(for='respaccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            h5 Example
            .grid--row
                .grid--show-small-only.grid--col-medium-6
                    span.box-success small breakpoint
                .grid--hide-small-only.grid--col-medium-6
                    span.box NOT small breakpoint
                .grid--show-medium-only.grid--col-medium-6
                    span.box-success medium breakpoint
                .grid--hide-medium-only.grid--col-medium-6
                    span.box NOT medium breakpoint
                .grid--show-large-only.grid--col-medium-6
                    span.box-success large breakpoint
                .grid--hide-large-only.grid--col-medium-6
                    span.box NOT large breakpoint
                .grid--show-xlarge-only.grid--col-medium-6
                    span.box-success xlarge breakpoint
                .grid--hide-xlarge-only.grid--col-medium-6
                    span.box NOT xlarge breakpoint
            h5 Code
            pre
                | &lt;div class="grid--<strong>show</strong>-small-only"&gt;
                | &nbsp;&nbsp;&lt;span class="box"&gt;small breakpoint&lt;/span&gt;
                | &lt;/div&gt;
                | &lt;div class="grid--<strong>hide</strong>-small-only"&gt;
                | &nbsp;&nbsp;&lt;span class="box"&gt;NOT small breakpoint&lt;/span&gt;
                | &lt;/div&gt;

    h3 Buttons

    .accordion
        input(id='btnaccordion', type='checkbox')
        label.accordion--header(for='btnaccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            .grid--row
                .grid--col-medium-4
                    h5 Example
                    button.btn Default

                .grid--col-medium-8
                    h5 Code
                    pre &lt;button class="btn"&gt;Default&lt;/button&gt;

            .grid--row
                .grid--col-medium-4
                    button.btn.btn__primary Primary

                .grid--col-medium-8
                    pre &lt;button class="btn btn__<strong>primary</strong>"&gt;Primary&lt;/button&gt;

            .grid--row
                .grid--col-medium-4
                    button.btn.btn__danger Danger

                .grid--col-medium-8
                    pre &lt;button class="btn btn__<strong>danger</strong>"&gt;Danger&lt;/button&gt;

            .grid--row
                .grid--col-medium-4
                    button.btn.btn__success Success

                .grid--col-medium-8
                    pre &lt;button class="btn btn__<strong>success</strong>"&gt;Success&lt;/button&gt;

            .grid--row
                .grid--col-medium-4
                    button.btn.btn__block Block

                .grid--col-medium-8
                    pre &lt;button class="btn btn__<strong>block</strong>"&gt;Block&lt;/button&gt;

            .grid--row
                .grid--col-medium-4
                    .btn--group
                        button.btn.btn__primary Group
                        button.btn Buttons

                .grid--col-medium-8
                    pre
                        | &lt;div class="btn--group"&gt;
                        | &nbsp;&nbsp;&lt;button class="btn btn__primary"&gt;Group&lt;/button&gt;
                        | &nbsp;&nbsp;&lt;button class="btn"&gt;buttons&lt;/button&gt;
                        | &lt;/div&gt;

    h3 Typography
    .accordion
        input(id='typoaccordion', type='checkbox')
        label.accordion--header(for='typoaccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            pre(style='margin-top:3rem') &lt;h3&gt;Typography&lt;/h3&gt;

            h4 Headlines
            .grid--row
                .grid--col-medium-6
                    h5 Example
                    h4 h4
                    .h5 h5
                    .h6 h6

                .grid--col-medium-6
                    h5 Code
                    pre
                        | &lt;h4&gt;h4&lt;/h4&gt;
                        | &lt;div class="<strong>h5</strong>"&gt;h5&lt;/div&gt;
                        | &lt;div class="<strong>h6</strong>"&gt;h6&lt;/div&gt;

            h4 Text helpers
            .grid--row
                .grid--col-medium-6
                    .lead lead
                    .text-muted muted

                .grid--col-medium-6
                    pre
                        | &lt;div class="lead"&gt;lead&lt;/div&gt;
                        | &lt;div class="text-muted"&gt;muted&lt;/div&gt;

                .grid--col-medium-6
                    .text-left text-left

                .grid--col-medium-6
                    pre
                        | &lt;div class="text-left"&gt;text-left&lt;/div&gt;

                .grid--col-medium-6
                    .text-center text-center

                .grid--col-medium-6
                    pre
                        | &lt;div class="text-center"&gt;text-center&lt;/div&gt;

                .grid--col-medium-6
                    .text-right text-right

                .grid--col-medium-6
                    pre
                        | &lt;div class="text-right"&gt;text-right&lt;/div&gt;

            h4 Display fonts
            .grid--row
                .grid--col-medium-6
                    .display-1 display-1

                .grid--col-medium-6
                    pre
                        | &lt;div class="display-1"&gt;display-1&lt;/div&gt;

                .grid--col-medium-6
                    .display-2 display-2

                .grid--col-medium-6
                    pre
                        | &lt;div class="display-2"&gt;display-2&lt;/div&gt;

                .grid--col-medium-6
                    .display-3 display-3

                .grid--col-medium-6
                    pre
                        | &lt;div class="display-3"&gt;display-3&lt;/div&gt;

                .grid--col-medium-6
                    .display-4 display-4

                .grid--col-medium-6
                    pre
                        | &lt;div class="display-4"&gt;display-4&lt;/div&gt;

            h4 Misc
            .grid--row
                .grid--col-medium-6
                    h5 Example
                    hr

                .grid--col-medium-6
                    h5 Code
                    pre
                        | &lt;hr&gt;

                .grid--col-medium-6
                    mark mark

                .grid--col-medium-6
                    pre
                        | &lt;mark&gt;mark&lt;/mark&gt;
                        | &lt;div class="mark"&gt;mark&lt;/div&gt;

                .grid--col-medium-6
                    small small

                .grid--col-medium-6
                    pre
                        | &lt;small&gt;small&lt;/small&gt;
                        | &lt;div class="small"&gt;small&lt;/div&gt;

            h4 Code
            .grid--row
                .grid--col-medium-6
                    pre Code

                .grid--col-medium-6
                    pre
                        | &lt;pre&gt;Code&lt;/pre&gt;

                .grid--col-medium-6
                    p Inline&nbsp;
                        code Code

                .grid--col-medium-6
                    pre
                        | Inline &lt;code&gt;Code&lt;/code&gt;

            h4 Quotes
            .grid--row
                .grid--col-medium-6
                    blockquote.blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

                .grid--col-medium-6
                    pre
                        | &lt;blockquote class="blockquote"&gt;Lorem ipsum…&lt;/blockquote&gt;

                .grid--col-medium-6
                    blockquote.blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        footer.blockquote-footer Someone famous in some book

                .grid--col-medium-6
                    pre
                        | &lt;blockquote class="blockquote"&gt;
                        | &nbsp;&nbsp;Lorem ipsum…
                        | &nbsp;&nbsp;&lt;footer class="blockquote-footer"&gt;Someone famous in some book&lt;/footer&gt;
                        | &lt;/blockquote&gt;

            h4 Lists
            .grid--row
                .grid--col-medium-6
                    ul.list-unstyled
                        li List item 1
                        li List item 2
                        li List item 3
                            ul
                                li Sublist item 1
                                li Sublist item 2
                        li List item 4
                        li List item 5

                .grid--col-medium-6
                    pre
                        | &lt;ul class="list-unstyled"&gt;
                        | &nbsp;&nbsp;&lt;li&gt;List item 1&lt;/li&gt;
                        | &nbsp;&nbsp;&lt;li&gt;List item 2&lt;/li&gt;
                        | &nbsp;&nbsp;&lt;li&gt;List item 3&lt;/li&gt;
                        | &nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Sublist item 1&lt;/li&gt;
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Sublist item 2&lt;/li&gt;
                        | &nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
                        | &nbsp;&nbsp;&lt;/li&gt;
                        | &nbsp;&nbsp;&lt;li&gt;List item 4&lt;/li&gt;
                        | &nbsp;&nbsp;&lt;li&gt;List item 5&lt;/li&gt;
                        | &lt;/ul&gt;

                .grid--col-medium-6
                    ul.list-inline
                        li.list-inline-item List inline item 1
                        li.list-inline-item List inline item 2
                        li.list-inline-item List inline item 3

                .grid--col-medium-6
                    pre
                        | &lt;ul class="list-inline"&gt;
                        | &nbsp;&nbsp;&lt;li class="list-inline-item"&gt;List inline item 1&lt;/li&gt;
                        | &nbsp;&nbsp;&lt;li class="list-inline-item"&gt;List inline item 2&lt;/li&gt;
                        | &nbsp;&nbsp;&lt;li class="list-inline-item"&gt;List inline item 3&lt;/li&gt;
                        | &lt;/ul&gt;

    h3 Modules
    h4 Accordion
    .accordion
        input(id='accoraccordion', type='checkbox')
        label.accordion--header(for='accoraccordion') Contents
            i.fa.fa-chevron-right.accordion--chevron.pull-right(aria-hidden='true')
        .accordion--body
            h5 Code
            pre
                |&lt;div class="accordion"&gt;
                |&nbsp;&nbsp;&lt;input id="UNIQUEID" type="checkbox"&gt;
                |&nbsp;&nbsp;&lt;label class="accordion--header" for="UNIQUEID"&gt;
                |&nbsp;&nbsp;&nbsp;&nbsp;Headline &lt;i class="fa fa-chevron-right accordion--chevron pull-right" aria-hidden="true"&gt;&lt;/i&gt;
                |&nbsp;&nbsp;&lt;/label&gt;
                |&nbsp;&nbsp;&lt;div class="accordion--body"&gt;
                |&nbsp;&nbsp;&nbsp;&nbsp;Accordion Content
                |&nbsp;&nbsp;&lt;/div&gt;
                |&lt;/div&gt;"
