extends ../templates/layout.pug

block content
    h3 Grid

    style(type='text/css')
        | .box { padding: 1rem; border: 1px solid #ddd; display: block; }
        | .box-success { padding: 1rem; border: 1px solid green; display: block; background: lightgreen; }

    h4 Example
    .grid--row
        .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
            span.box small-12, medium-6, large-4, xlarge-2
        .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
            span.box small-12, medium-6, large-4, xlarge-2
        .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
            span.box small-12, medium-6, large-4, xlarge-2
        .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
            span.box small-12, medium-6, large-4, xlarge-2
        .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
            span.box small-12, medium-6, large-4, xlarge-2
        .grid--col-small-12.grid--col-medium-6.grid--col-large-4.grid--col-xlarge-2
            span.box small-12, medium-6, large-4, xlarge-2

    h4 Code
    pre
        | &lt;div class="grid--col-small-12 grid--col-medium-6 grid--col-large-4 grid--col-xlarge-2"&gt;
        | &nbsp;&nbsp;&lt;span class="box"&gt;small-12, medium-6, large-4, xlarge-2&lt;/span&gt;
        | &lt;/div&gt;

    h3 Responsive visibility
    h4 Example
    .grid--row
        .grid--show-small-only.grid--col-medium-6
            span.box-success small breakpoint
        .grid--hide-small-only.grid--col-medium-6
            span.box NOT small breakpoint
        .grid--show-medium-only.grid--col-medium-6
            span.box-success medium breakpoint
        .grid--hide-medium-only.grid--col-medium-6
            span.box NOT medium breakpoint
        .grid--show-large-only.grid--col-medium-6
            span.box-success large breakpoint
        .grid--hide-large-only.grid--col-medium-6
            span.box NOT large breakpoint
        .grid--show-xlarge-only.grid--col-medium-6
            span.box-success xlarge breakpoint
        .grid--hide-xlarge-only.grid--col-medium-6
            span.box NOT xlarge breakpoint
    h4 Code
    pre
        | &lt;div class="grid--<strong>show</strong>-small-only"&gt;
        | &nbsp;&nbsp;&lt;span class="box"&gt;small breakpoint&lt;/span&gt;
        | &lt;/div&gt;
        | &lt;div class="grid--<strong>hide</strong>-small-only"&gt;
        | &nbsp;&nbsp;&lt;span class="box"&gt;NOT small breakpoint&lt;/span&gt;
        | &lt;/div&gt;

    h3 Buttons

    .grid--row
        .grid--col-medium-4
            h4 Example
            button.btn Default

        .grid--col-medium-8
            h4 Code
            pre &lt;button class="btn"&gt;Default&lt;/button&gt;

    .grid--row
        .grid--col-medium-4
            button.btn.btn__primary Primary

        .grid--col-medium-8
            pre &lt;button class="btn btn__<strong>primary</strong>"&gt;Primary&lt;/button&gt;

    .grid--row
        .grid--col-medium-4
            button.btn.btn__danger Danger

        .grid--col-medium-8
            pre &lt;button class="btn btn__<strong>danger</strong>"&gt;Danger&lt;/button&gt;

    .grid--row
        .grid--col-medium-4
            button.btn.btn__success Success

        .grid--col-medium-8
            pre &lt;button class="btn btn__<strong>success</strong>"&gt;Success&lt;/button&gt;

    .grid--row
        .grid--col-medium-4
            button.btn.btn__block Block

        .grid--col-medium-8
            pre &lt;button class="btn btn__<strong>block</strong>"&gt;Block&lt;/button&gt;

    .grid--row
        .grid--col-medium-4
            .btn--group
                button.btn.btn__primary Group
                button.btn Buttons

        .grid--col-medium-8
            pre
                | &lt;div class="btn--group"&gt;
                | &nbsp;&nbsp;&lt;button class="btn btn__primary"&gt;Group&lt;/button&gt;
                | &nbsp;&nbsp;&lt;button class="btn"&gt;buttons&lt;/button&gt;
                | &lt;/div&gt;
