nav.nav
    .grid--container
        .nav--brand
            | S
            small mart
            | N
            small ode
        ul.nav--list
            li.nav--item
                a(href='/') Dashboard

            //- .pull-right
                li.nav--item
                    a(href="#") Test
